{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Servicios</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static "style.css" %}" />
  </head>
  <body style="background-color: rgb(89, 89, 89)">
    <!-- Barra de navegacion principal -->
    <div class="container-fluid" style="background-color: rgb(144, 144, 179)">
      <ul class="nav">
        <a class="link" href="{% url "Inicio" %}">
          <img src="{% static "img/logo.png" %}" height="40" alt="logo" style="margin: 5px"
        /></a>
        <a
          class="link"
          href="{% url "Inicio" %}"
          style="color: black; text-decoration: none"
        >
          <h1 class="title">
            <strong> AutoFixChile </strong>
          </h1></a
        >
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="{% url "Servicios" %}"
            style="margin: 5px; color: black"
            >Nuestros servicios</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="{% url "Contacto" %}"
            style="margin: 5px; color: black"
            >Contactos</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="../usuario/perfil.html"
            style="margin: 5px; color: black"
            >Perfil</a
          >
        </li>
      </ul>
      <form class="nav justify-content-end" role="button">
        <a href="../usuario/iniciarsesion.html">
          <button
            type="button"
            class="btn btn-light"
            style="
              border-color: black;
              border-radius: 30px;
              margin: 5px;
              text-align: center;
            "
          >
            Iniciar Sesion
          </button>
        </a>
        <a href="../usuario/registro.html">
          <button
            type="button"
            class="btn btn-light"
            style="
              border-color: black;
              border-radius: 30px;
              margin: 5px;
              text-align: center;
            "
          >
            Registrar
          </button>
        </a>
      </form>
    </div>
    <!-- TARJETAS -->
    <div class="row">
      <!-- Carroceria -->
      <div class="card col-sm-6 mt-3">
        <img
          src="{% static "img/itemCarroceria.png" %}"
          class="card-img-top"
          alt="carroceria"
          style="height: 100%; margin: 5px"
        />
        <div class="card-body">
          <h2 class="card-title">Carrocería</h2>
          <p class="card-text">
            Efectuamos reparaciones de todo tipo a la estructura del vehiculo,
            ya sea estructural, abolladuras, oxido, etc.
          </p>
        </div>
      </div>
      <!-- Mecanica -->
      <div class="card col-sm-6 mt-3">
        <img
          src="{% static "img/itemMecanico.png" %}"
          class="card-img-top"
          alt="mecanica"
          style="height: 100%; margin: 5px"
        />
        <div class="card-body">
          <h2 class="card-title">Mecánica</h2>
          <p class="card-text">
            Reparacion mecanica completa al motor de su vehiculo con garantia de
            rendimiento ademas de politicas de reembolso.
          </p>
        </div>
      </div>
      <!-- Electronica -->
      <div class="card col-sm-6 mb-3 mt-3">
        <img
          src="{% static "img/itemElectronica.png" %}"
          class="card-img-top"
          alt="Electronica"
          style="height: 100%; margin: 5px"
        />
        <div class="card-body">
          <h2 class="card-title">Electrónica</h2>
          <p class="card-text">
            Servicios de reparacion electrica de vehiculos, desde el año 1998 en
            adelante.
          </p>
        </div>
      </div>
      <div class="card col-sm-6 mb-3 mt-3">
        <img
          src="{% static "img/itemPintura.png" %}"
          class="card-img-top"
          alt="Pintura"
          style="height: 100%; margin: 5px"
        />
        <div class="card-body">
          <h2 class="card-title">Pintura</h2>
          <p class="card-text">
            Repintado de vehiculos completo junto con una amplia seleccion para
            la personalizacion de su vehiculo.
          </p>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
